.layout {
  display: flex;
  height: 100vh;
  background: #f4f6fb;
}

.sidebar {
  width: 240px;
  background: #111827;
  color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sidebar a {
  display: block;
  color: #cbd5e1;
  text-decoration: none;
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 6px;
  transition: 0.2s;
}

.sidebar a.active,
.sidebar a:hover {
  background: #3b82f6;
  color: white;
}

.bottom {
  margin-top: auto;
}

.bottom button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 8px;
  background: #ef4444;
  color: white;
  cursor: pointer;
}

.content {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
}

/* BOTÓN HAMBURGUESA */
.menu-btn {
  display: none;
  position: fixed;
  top: 15px;
  left: 15px;
  font-size: 26px;
  background: #111827;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 8px;
  z-index: 1001;
  cursor: pointer;
}

/* OVERLAY */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.4);
  z-index: 999;
}

@media (max-width: 768px) {

  .menu-btn {
    display: block;
  }

  .sidebar {
    position: fixed;
    top: 0;
    left: -260px;
    height: 100%;
    z-index: 1000;
    transition: 0.3s;
  }

  .sidebar.open {
    left: 0;
  }

  .content {
    padding-top: 60px;
  }
}