<div class="page">

  <header class="header">
    <h1>💊 Medicamentos</h1>
  </header>

  <div class="calendar-container">
    <full-calendar [options]="calendarOptions"></full-calendar>
  </div>

  <!-- MEDS DEL DÍA -->
  <div *ngIf="selectedDayMedicaments.length">

    <div *ngFor="let med of selectedDayMedicaments">

      <h3>{{ med.nombre }}</h3>

      <button (click)="openAlertModal(med)">
        ➕ Crear alarma
      </button>

      <div *ngFor="let a of med.alerts">
        🕒 {{ a.hora | date:'HH:mm' }} - {{ a.estado }}
      </div>

    </div>

  </div>

  <!-- GRID MEDICAMENTOS -->
  <div class="grid">

    <div *ngFor="let med of medicaments$ | async"
         (click)="openDetail(med)">

      <img [src]="med.imageUrl || 'assets/default.png'">

      <h3>{{ med.nombre }}</h3>
    </div>

  </div>

  <!-- DETAIL -->
  <app-detail-modal
    [visible]="isDetailOpen"
    [item]="selectedItem"
    [type]="'medication'"
    (close)="closeDetail()"
    (delete)="deleteFromModal($event)"
    (edit)="editFromModal($event)"
    (addAlert)="openAlertModal($event)">
  </app-detail-modal>

</div>