<div class="page">
  <h1>📅 Citas</h1>
  <p class="subtitle">Control de citas médicas</p>

  <button class="add" (click)="openAddModal()">➕ Añadir cita</button>

  <div class="grid">
    <div *ngFor="let cita of citas$ | async"
         class="card"
         (click)="openDetail(cita)">

      <div class="info">
        <h3>{{ cita.descripcion }}</h3>

        <p *ngIf="cita.fecha">
          📅 {{ cita.fecha }}
        </p>

        <p *ngIf="cita.hora">
          ⏰ {{ cita.hora }}
        </p>
      </div>

      <button class="delete"
              (click)="deleteCita(cita.id); $event.stopPropagation()">
        🗑
      </button>

    </div>
  </div>

  <div class="modal" *ngIf="isModalOpen">
    <div class="modal-content">

      <h2>{{ editingId ? 'Editar cita' : 'Añadir Cita' }}</h2>

      <form (ngSubmit)="addCita()">

        <input [(ngModel)]="newCita.descripcion"
               name="descripcion"
               placeholder="Descripcion"
               required />

        <input type="date"
               [(ngModel)]="newCita.fecha"
               name="fecha"
               required />

        <input type="time"
               [(ngModel)]="newCita.hora"
               name="hora"
               required />

        <button class="add" type="submit">
          {{ editingId ? 'Actualizar' : 'Guardar' }}
        </button>

        <button class="delete" type="button" (click)="closeModal()">
          Cancelar
        </button>

      </form>

    </div>
  </div>

  <app-detail-modal
    [visible]="isDetailOpen"
    [item]="selectedItem"
    (close)="closeDetail()"
    (delete)="deleteFromModal($event)"
    (edit)="editFromModal($event)">
  </app-detail-modal>
</div>