<div class="page">

  <header class="header">
    <h1>📅 Citas médicas</h1>
    <p>Control de citas médicas</p>
  </header>

  <!-- CALENDARIO -->

  <div class="calendar-container">

    <full-calendar
      [options]="calendarOptions">
    </full-calendar>

  </div>

  <!-- CITAS DEL DÍA -->

  <div
    class="selected-day"
    *ngIf="selectedDayCitas.length"
  >

    <h2>Citas del día</h2>

    <div
      class="med-day-card"
      *ngFor="let cita of selectedDayCitas"
      (click)="openDetail(cita)"
    >

      <div class="info">

        <h3>{{ cita.descripcion }}</h3>

        <p>
          📅 {{ cita.fecha }}
        </p>

        <p>
          ⏰ {{ cita.hora }}
        </p>

      </div>

    </div>

  </div>

  <!-- BOTÓN -->

  <button
    class="add-btn"
    (click)="openAddModal()"
  >
    ➕ Añadir cita
  </button>

  <!-- GRID -->

  <div class="grid">

    <div
      *ngFor="let cita of citas$ | async"
      class="card"
      (click)="openDetail(cita)"
    >

      <div class="info">

        <h3>{{ cita.descripcion }}</h3>

        <p>📅 {{ cita.fecha }}</p>

        <p>⏰ {{ cita.hora }}</p>

      </div>

      <button
        class="delete"
        (click)="deleteCita(cita.id); $event.stopPropagation()"
      >
        🗑
      </button>

    </div>

  </div>

  <!-- MODAL -->

  <div class="modal" *ngIf="isModalOpen">

    <div class="modal-content">

      <h2>
        {{ editingId ? 'Editar cita' : 'Añadir cita' }}
      </h2>

      <form (ngSubmit)="addCita()">

        <input
          [(ngModel)]="newCita.descripcion"
          name="descripcion"
          placeholder="Descripción"
          required
        />

        <input
          type="date"
          [(ngModel)]="newCita.fecha"
          name="fecha"
          required
        />

        <input
          type="time"
          [(ngModel)]="newCita.hora"
          name="hora"
          required
        />

        <div class="actions">

          <button class="add" type="submit">
            {{ editingId ? 'Actualizar' : 'Guardar' }}
          </button>

          <button
            class="cancel"
            type="button"
            (click)="closeModal()"
          >
            Cancelar
          </button>

        </div>

      </form>

    </div>

  </div>

  <!-- DETAIL -->

  <app-detail-modal
    [visible]="isDetailOpen"
    [item]="selectedItem"
    type="cita"
    (close)="closeDetail()"
    (delete)="deleteFromModal($event)"
    (edit)="editFromModal($event)">
  </app-detail-modal>

</div>